# openai
OPENAI_MODEL="DeepSeek-V3.1-Terminus"
OPENAI_API_KEY=""
OPENAI_API_BASE="https://openapi.coreshub.cn/v1"

# models
#     split item by ';', split key_value by ','.
#     example: api_key=aaa,api_base=bbb;api_key=ccc,api_base=ddd
MODEL_SETTINGS=""

# internal
DEBUG=1

# LLM
MAX_TOKENS=8000
TEMPERATURE=0.3
#TOP_P=0.97
#FREQUENCY_PENALTY=0.3

# Context Management

## Session Management for chat histroy messages
#SESSION_ID=
    # Example:
    #  `SESSION_ID=001 llm_chat "say sth."`
    #  `ai_list_sessions` will show all of history sessions.
    #  `ai_retrieve_messages 001` will show all of history messages.

## Managers are separated by semicolons(';'), and parameters are separated by spaces(' ').
## If not set, context management will not be enabled.
CONTEXT_HISTORY_MANAGERS="sql.ChatHistorySQLAlchemy conn=sqlite:///memory.db;"
CONTEXT_MESSAGES_SLIM_THRESHOLD_LENGTH=43

## Flags

## After the execution is completed, dump the chat history messages to a file.
## Set 1 to enable.
FLAG_DUMP_MESSAGES=0


# Tools

## disabled tools of internal, starts with keyword. e.g. "agent_tool;story_tool"
DISABLED_TOOLS=""

## enabled tools of internal, starts with keyword.
ENABLED_TOOLS=""

## extra tools are separated by semicolons(';'), one tool one MD file.
EXTRA_TOOLS=""
